# ==============================================================================
# SPORTCOREOS WEB — CONFIGURACIÓN DE VARIABLES DE ENTORNO (.env.example)
# ==============================================================================

# Entorno activo: development | qa | production
APP_ENV=development

# Puerto de servicio local
PORT=4202

# URL Base de la API REST del Backend:
# - Desarrollo Local: http://localhost:3001/api/v1 (o http://localhost:3000/api/v1)
# - QA en VPS:        /api/v1 (resuelto vía Nginx Proxy Manager en https://sportcoreos.secticsolar.site)
# - Prod en VPS:      /api/v1 (resuelto vía Nginx Proxy Manager en https://app.sportcore.co)
API_URL=http://localhost:3001/api/v1

# Dominio base y Host de Backend en la VPS:
API_HOST_QA=sportcoreos_qa_api:3000
API_HOST_PROD=sportcoreos_prod_api:3000
PUBLIC_DOMAIN_QA=sportcoreos.secticsolar.site
PUBLIC_DOMAIN_PROD=app.sportcore.co
