# ========================================================
# SPORTCORE OS — VARIABLES DE ENTORNO (PRODUCCIÓN)
# ========================================================
PORT=3001
NODE_ENV=production

# Conexión a la Base de Datos dentro de la red Docker PROD
DB_HOST=postgres-prod
DB_PORT=5432
DB_USER=sportcore_user_prod
DB_PASSWORD=CAMBIAR_PASSWORD_MUY_SEGURO_PRODUCCION_SPORTCORE_2026*
DB_NAME=sportcoreos_db_prod
DB_SYNCHRONIZE=false
DB_LOGGING=false

# Seguridad y Autenticación JWT
JWT_SECRET=CAMBIAR_JWT_SECRET_PRODUCCION_SPORTCORE_MINIMO_64_CARACTERES_ALEATORIOS_2026
JWT_EXPIRES_IN=7d
