<!-- Barra Transversal de Carga Global -->
<app-loading-bar></app-loading-bar>

<!-- Contenedor Transversal de Notificaciones Toast -->
<app-toast-container></app-toast-container>

<!-- Modal Transversal de Edición de Perfil -->
<app-profile-modal></app-profile-modal>

<div [class.app-layout]="authService.isAuthenticated() && !isPublicRoute()" [class.auth-fullscreen-layout]="!authService.isAuthenticated() || isPublicRoute()">
  @if (authService.isAuthenticated() && !isPublicRoute()) {
    <app-sidebar></app-sidebar>
  }

  <div [class.main-wrapper]="authService.isAuthenticated() && !isPublicRoute()" [class.sidebar-collapsed]="api.sidebarCollapsed()">
    @if (authService.isAuthenticated() && !isPublicRoute()) {
      <app-navbar></app-navbar>
    }
    <main [class.content-area]="authService.isAuthenticated() && !isPublicRoute()">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
