<nav class="bottom-nav-bar">
      <a routerLink="/home" routerLinkActive="active" class="nav-tab">
        <div class="nav-icon-wrap">
          <i class="fa-solid fa-house"></i>
        </div>
        <span>Inicio</span>
      </a>

      <a routerLink="/partidos" routerLinkActive="active" class="nav-tab">
        <div class="nav-icon-wrap">
          <i class="fa-solid fa-calendar-days"></i>
        </div>
        <span>Partidos</span>
      </a>

      <a routerLink="/convocatorias" routerLinkActive="active" class="nav-tab">
        <div class="nav-icon-wrap">
          <i class="fa-solid fa-clipboard-user"></i>
        </div>
        <span>Convocatoria</span>
      </a>

      <a routerLink="/tienda" routerLinkActive="active" class="nav-tab">
        <div class="nav-icon-wrap">
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
        <span>Tienda</span>
      </a>

      <a routerLink="/perfil" routerLinkActive="active" class="nav-tab">
        <div class="nav-icon-wrap">
          <i class="fa-solid fa-id-card-clip"></i>
        </div>
        <span>Carnet</span>
      </a>
    </nav>
